.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item.dropdown .dropdown-menu {
    display: none; /* Başlangıçta menüyü gizle */
}

.üst-bar{
    box-shadow: 10px 10px 5px lightblue;
}
.dropdown-menu{
    border-radius: 2px;
}
.card-img-top {
    width: 100%;  /* Kartın genişliğine uyum sağlar */
    height: 400px; /* Sabit yükseklik belirle */
    object-fit: cover; /* Resmi kırparak orantılı şekilde sığdırır */
}
